.metadata/
00_TEACHER'S REPOSITORY/
001_FirstCode/.metadata/
Curriculum Pattern 1 (m.o.)/.metadata/
Curriculum Pattern 2 (m.a.k.)/.metadata/
Teachers and Github account.txt
What we covered.txt
Where Were We on the lesson.txt